#footer_container {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    background-color: #212529;
    color: #fff;
}

@media screen and (max-width: 600px) {
    #footer_container {
        padding-top: 3%;
    }

    #footer_bottom p {
        font-size: 0.68em;
    }
}